<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" th:text="#{app_name}" th:href="@{/}" href="#">Voter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
                <a class="nav-link" th:href="@{/} "href="#" th:text="#{home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/poll' ? 'active':''}">
                <a class="nav-link" th:href="@{/poll} "href="#" th:text="#{new_poll}">New Poll <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:with="userId=${#authentication.principal.id}" th:classappend="${#httpServletRequest.getRequestURI() == '/${userId}/polls' ? 'active':''}">
                <a class="nav-link" th:href="@{/{id}/polls(id=${userId})} "href="#" th:text="#{my_polls}">My Polls <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAnonymous()" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
                <a class="nav-link" href="login" th:href="@{/login}" th:text="#{sign_in}">Sign in</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()" th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}">
                <a class="nav-link" href="#" th:href="@{/register}" th:text="#{sign_up}">Sign Up</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()" >
                <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:href="@{#}" href="#" th:text="${#authentication.principal.fullName()}">John Smith</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-item" th:if="${#authentication.principal.avatarPath}" style="padding:0px;">
                        <img  height="100px" id="profile-picture" th:src="@{/profile/avatar}"/>
                    </div>
                    <a class="dropdown-item" th:href="@{/avatar}" href="/avatar" th:text="#{account.avatar.set}">Set Profile Picture</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" >
                <a class="nav-link" href="#" th:href="@{/logout}" th:text="#{sign_out}">Sign out</a>
            </li>
        </ul>

    </div>
</nav>
</html>