<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}">Voter</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 th:text="#{error.title.not_found}" class="text-center">Error</h2>
                <p th:text="${message}" class="text-center">An error has occurred</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>