<!DOCTYPE html>
<html lang="en">
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account.avatar}">Avatar</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 th:text="#{account.avatar}" class="text-center">Avatar</h2>

                <form th:action="@{/avatar}" enctype="multipart/form-data" method="POST" accept="image/jpg">
                    <p th:text="#{account.avatar.select}">File to upload:</p>
                    <p><input type="file" name="file"/></p>
                    <input type="submit" class="btn btn-primary" th:value="#{submit}">
                    <div th:if="${message}" class="alert"
                         th:classappend="${uploadSuccess}? alert-success : alert-danger" style="margin-top: 20px">
                        <span th:text="${message}">Image uploaded successfully</span>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>