<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app_name}">Voter</title>
    <style>
        .card{
            cursor: pointer;
        }
    </style>
    <script>
        function navigateToPath(sender){
            window.location = sender.getAttribute("data");
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center" th:text="#{home.recent_polls}">Recent Polls</h2>
                <div th:each="pollPath : ${pollPaths}" class="card text-white bg-secondary mb-3">
                    <div class="card-header" th:text="${pollPath.poll.user.fullName()}" onclick="navigateToPath(this)" th:attr="data=${pollPath.userPath}">John Smith</div>
                    <div class="card-body" onclick="navigateToPath(this)" th:attr="data=${pollPath.path}">
                        <h4 class="card-title" th:text="${pollPath.poll.title}">Secondary card title</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>