<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sign_in}">Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 th:text="#{sign_in}">Login</h2>
                <form th:action="@{/login}" method="POST">
                    <div class="form-group">
                        <label for="username" th:text="#{email_address}">Email address</label>
                        <input type="email" class="form-control" id="username" name="username"
                               aria-describedby="emailHelp"
                               placeholder="Enter email" th:placeholder="#{email_address}" required>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{password}">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                               th:placeholder="#{password}" required>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
                </form>
                <br/>
                <div class="alert alert-danger" th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]?.message != null}" th:with="error=${session[SPRING_SECURITY_LAST_EXCEPTION].message}">
                    <span th:text="#{login_failed}">Your login attempt was not successful, Please try again.</span>
                    (<span th:text="${error}">Invalid Username or Password</span>)
                </div>
            </div>
        </div>
    </div>
</body>
</html>