<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{new_poll}">New Poll</title>
    <script th:src="@{/js/new_poll.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var maxOptions = [[${maxOptions}]] || 5;

        function init(){
            document.getElementById("add_option_button").addEventListener('click', function() {
                addOptionButton(maxOptions);
            }, false);
        }

        /*]]>*/
</script>
</head>
<body onload="init()">
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 th:text="#{new_poll}" class="text-center"> New Poll</h2>
                <form th:action="@{poll}" method="POST" th:object="${poll}">
                    <div class="form-group">
                        <label for="title" th:text="#{title}">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                               th:field="*{title}" th:errorclass="is-invalid"
                               placeholder="Title" th:placeholder="#{title}" maxlength="255" minlength="10"
                               required>
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                             class="invalid-feedback">Title has invalid length
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="options" th:text="#{options}" >Options</label>
                        <div th:if="${#fields.hasErrors('options')}" th:errors="*{options}"
                             class="d-block invalid-feedback">Title has invalid length
                        </div>
                        <div id="options">
                            <th:block th:each="option,iter : *{options}">
                                <input type="text" class="form-control option-item"
                                       th:field="*{options[__${iter.index}__]}" th:value="${option}"/>
                            </th:block>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
                    <button type="button" id="add_option_button" class="btn btn-secondaru" th:text="#{add_option}">Add Option
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>