<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{new_poll}">New Poll</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4" th:object="${pollPath}">
                <h2 th:text="#{congratulations}">Congratulations</h2>
                <p th:text="#{poll_url_created(*{poll.title})}"></p>
                <p><a th:href="*{path}"  href="#" th:text="#{poll_url_visit}">Take a look</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>