<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sign_up}">Register</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2 th:text="#{sign_up}">Register</h2>
                <form th:action="@{register}" method="POST" th:object="${user}">
                    <div class="form-group">
                        <label for="first_name" th:text="#{first_name}">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="firstName"
                               th:field="*{firstName}" th:errorclass="is-invalid"
                               placeholder="First Name" th:placeholder="#{first_name}">
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                             class="invalid-feedback">First Name has invalid length
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" th:text="#{last_name}">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="lastName"
                               th:field="*{lastName}" th:errorclass="is-invalid"
                               placeholder="Last Name" th:placeholder="#{last_name}">
                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback">
                            Last Name has invalid length
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" th:text="#{email_address}">Email address</label>
                        <input type="email" class="form-control" id="username" name="email"
                               th:field="*{email}" th:errorclass="is-invalid"
                               placeholder="Enter email" th:placeholder="#{email_address}">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">Email
                            Address is invalid
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{password}">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                               th:field="*{password}" th:errorclass="is-invalid" th:placeholder="#{password}">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">
                            Password is invalid
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>