<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.results_for_poll(${poll.title})}">Results</title>
    <style>
        .poll-results{
            text-align: center;
            margin: 0px auto;
        }

        .poll-results canvas{
            max-width: 750px;
            width: 750px;
            height: auto;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    <script th:src="@{/js/Chart.bundle.min.js}"></script>
    <script th:src="@{/js/results.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        var params = {
            poll:{
                owner:{
                    id: [[${poll.user.id}]],
                },
                slug: [[${poll.slug}]],
                userSelection: [[${existingVote?.option?.id ?: 0}]]
            },
            csrf:{
                header: [[${_csrf.headerName}]],
                token: [[${_csrf.token}]]
            },
            i18n:{
                label: [[#{chart.label.number_of_votes}]],
                totalVotes: [[#{char.title.total_number_of_votes}]],
                yourVote: [[#{your_vote}]]
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            pollResults(params);
        }, false);
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="poll-results">
                    <h2 th:text="${poll.title}">Poll Title</h2>
                    <h6 th:text="${poll.user.fullName()}">Poll Owner</h6>
                    <br/>
                    <canvas id="chart" width="750px" height="350px">
                        Your browser does not support html5
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>