<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="#{polls_by_user(${pollOwner.fullName()})}">Polls by user</title>
    <script th:src="@{/js/user_polls.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 th:text="#{polls_by_user(${pollOwner.fullName()})}">Polls by user</h2>
                <div th:if="!${#lists.isEmpty(pollPaths)}">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th th:if="${pollOwnerIsUser}" scope="col"></th>
                            <th scope="col" th:text="#{title}">Title</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pollPath : ${pollPaths}">
                            <td th:if="${pollOwnerIsUser}" scope="row">
                                <input name="postId" type="checkbox" th:attr="data-poll-id=${pollPath.poll.id}"/>
                            </td>
                            <td>
                                <a th:href="${pollPath.path}" th:text="${pollPath.poll.title}">Poll Title</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input th:if="${pollOwnerIsUser}" type="button" th:value="#{delete}" value="Delete"
                           th:onclick="'confirmDeletePolls(\'' + ${pollOwner.id} + '\',\'' + ${_csrf.headerName} + '\',\'' + ${_csrf.token} + '\');'"/>
                </div>
                <div th:if="${#lists.isEmpty(pollPaths) && pollOwnerIsUser}">
                    <p th:text="#{polls.empty.pollOwner}">You haven't created a poll yet!</p>
                    <a th:href="@{/poll}" th:text="#{poll.create}">Create one now!</a>
                </div>
                <div th:if="${#lists.isEmpty(pollPaths) && !pollOwnerIsUser}">
                    <p th:text="#{polls.empty.user(${pollOwner.firstName})}">This user hasn't created any polls yet</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>