<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style>
        input[type="radio"] + label{
            -webkit-margin-start: 1em;
        }
    </style>
    <title th:text="${poll.title}">Vote</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <form th:action="@{/{id}/polls/{slug}/vote(id=${poll.user.id},slug=${poll.slug})}" method="POST" th:object="${poll}">
                    <h2 th:text="*{title}" class="text-center">Poll Title</h2>
                    <h6 th:text="*{user.fullName()}" class="text-center">Poll Owner</h6>
                    <br>
                    <div id="opts">
                        <th:block th:each="option,iter : *{options}">
                            <input type="radio" class="option-item"
                                   name="option" th:id="${option.id}" th:value="${option.id}" checked="unchecked">
                            <label th:for="${option.id}" th:text="${option.title}"></label><br/>
                        </th:block>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" th:text="#{submit}">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>